.row{
    margin-left: 20px;
    color: #fff;
}

.row_posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

    

}

.row_posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 200px;
    margin-right: 10px;
    cursor: pointer; 

}
.smallposter{
    max-height: 100px;
}

.poster:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;

}
.close-btn{
              position: 'absolute';
              top: '10px';
              right: '10px';
              background-color: 'red';
              color: 'white';
              border: 'none';
              padding: '5px 10px';
              cursor: 'pointer';
              font-Size: '16px';
              border-Radius: '50%';
}